<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fstest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.example.fstest.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="com.example.fstest.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.example.fstest.NotificationService"
            android:process=":remote" >
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.example.fstest.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.fstest.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA-DLLxr2qrvGovAafNBvxoYPp63-nme-Q" />

        <activity
            android:name="com.example.fstest.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.example.fstest.QuizActivity"
            android:label="@string/title_activity_quiz" >
        </activity>
        <activity
            android:name="com.example.fstest.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="MapActivity" >
        </activity>
        <activity
            android:name="com.example.fstest.NewProfileActivity"
            android:label="@string/title_activity_new_profile" >
        </activity>
        <activity
            android:name="com.example.fstest.LogTest"
            android:label="@string/title_activity_log_test" >
        </activity>
        <activity
            android:name="com.example.fstest.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fstest.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name="com.example.fstest.NearbyActivity"
            android:label="@string/title_activity_nearby" >
        </activity>
        <activity
            android:name="com.example.fstest.NewVenueActivity"
            android:label="@string/title_activity_new_venue" >
        </activity>
        <activity
            android:name="com.example.fstest.VenueListActivity"
            android:label="@string/title_activity_venue_list" >
        </activity>
        <activity
            android:name="com.example.fstest.UserSettingsActivity"
            android:label="@string/title_activity_user_settings" >
        </activity>
    </application>

</manifest>
